header {
    background-color: #244751;
    color: #E8FDFF;
    font-family: 'Bungee Hairline', cursive;
    letter-spacing: 4px;
}

header h1 {
    font-size: 32px;
    padding-left: 12px;
}

body {
    background-color: whitesmoke;
    font-family: 'Work Sans', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px
}

.post .photo:hover {
    border-style: dotted;
    border-color: black;
}

.post .user-info img {
    border-radius: 50%
}
